button {
    padding: 0;
    margin: 0;
    border: 0;
}

.main {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 85vw;
    height: 85vw;
    background: url(/images/bg-triangle.svg) no-repeat;
    background-position: 20px 50px;
    background-size: 90%;
}

.player-identifier {
    display: flex;
    position: absolute;
    bottom: -35%;
    left: 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: white;
}

.span1 {
    left: 15%;
}

.span2 {
    left: -6%;
    width: 154px;
}

.main__box-top {
    display: flex;
    justify-content: space-between;
}

.main__box-bottom {
    display: flex;
    position: absolute;
    align-self: center;
    bottom: 5%;
}

.main__label {
    position: relative;
    padding: 1em;
    border-radius: 50%;
    transition: all 100ms ease-out;
}

.main__label button {
    background-color: white;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 0px -4px hsl(217, 25%, 76%);
}

.main__box-top .main__label:nth-child(1) {
    background: linear-gradient(180deg, var(--paper-gradient));
}


/* .main__box-top .main__label:nth-child(2) {
    background: linear-gradient( 180deg, var(--scissors-gradient));
    box-shadow: 0px 5px hsl(39, 97%, 38%);
    } */

.main__box-bottom .main__label {
    background: linear-gradient(180deg, var(--rock-gradient));
}

.label-0{
    box-shadow: 0px 5px hsl(230, 54%, 47%);
}
.label-1 {
    box-shadow: 0px 5px hsl(39, 97%, 38%);
}
.label-2 {
    box-shadow: 0px 5px hsl(349, 65%, 38%);
}

/* .main__label:active,
.main__box-top .main__label:active */


.main__label-pressed {
    transition: all 150ms ease-in;
    transform: translateY(5px);
}

.main__label:hover,
.main__box-top .main__label:hover {
    opacity: 100%;
}

/* =============== STEP2 ================= */

.label-machine {
    padding: 1em;
    border-radius: 50%;
    background: linear-gradient(180deg, var(--scissors-gradient));
    transition: all 100ms ease-out;
}

.bot-animated {
    -webkit-animation: slide-in-blurred-right .6s cubic-bezier(0.230, 1.000, 0.320, 1.000) ;
    animation: slide-in-blurred-right .6s cubic-bezier(0.230, 1.000, 0.320, 1.000) ;
}

.bot {
    background: transparent;
    box-shadow: none;
}

.bot button {
    background: rgba(0, 0, 0, 0.26);
    box-shadow: none;
    animation: scale-up-center 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) both infinite alternate;
    -webkit-animation: scale-up-center 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) both infinite alternate;
}

/* ================ ANIMATION ================= */

@-webkit-keyframes scale-up-center {
    0% {
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
    }

    100% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
}

@-webkit-keyframes slide-in-blurred-right {
    0% {
        -webkit-transform: translateX(1000px) scaleX(2) scaleY(0.2);
        transform: translateX(500px) scaleX(2.5) scaleY(0.2);
        -webkit-transform-origin: 0% 50%;
        transform-origin: 0% 50%;
        -webkit-filter: blur(40px);
        filter: blur(40px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateX(0) scaleY(1) scaleX(1);
        transform: translateX(0) scaleY(1) scaleX(1);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1;
    }
}